/*--- general styles for main content ---*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body, #mainMap {
    height: 700px;
}

.info, .international {
    padding: 10px 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info, .international h4, h3 {
    color: #777;
}

.counselorImg {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.counselorText {
    padding: 10px;
}

.counselorText p {
    font-size: 15px;
}

@media (max-width: 991px) {
    .returnBtn {
        visibility: visible;
    }
}

@media (min-width: 992px) {
    .returnBtn {
        visibility: hidden;
    }
}
